{
  "env": {
    "production": {
      "plugins": ["emotion", "@emotion/babel-preset-css-prop"]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true }],
        "@emotion/babel-preset-css-prop"
      ]
    }
  }
}
